In [ ]:
#To use psycopg2 to join SQl and jupyter notebook
#or PostGREs and SQLAlchemy
#!pip install psycopg2 sqlalchemy

In [ ]:
import csv
import datetime as dt
import json as json
import os
import pandas as pd
import time
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.ticker import StrMethodFormatter
import numpy as np
import scipy.stats as st
import sqlalchemy

In [ ]:
# Python SQL toolkit and Object Relational Mapper
from sqlalchemy import create_engine
from sqlalchemy import create_engine, func
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, inspect
from sqlalchemy import func

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base() #have to bring pandas manually b/c of ext

In [ ]:
#Step 1 - Climate Analysis and Exploration

In [ ]:
#database access
engine = create_engine('postgresql://postgres:Ben&LizzyA2@localhost:5433/SQLAlchemy_db')
engine=create_engine('sqlite:///Resources/hawaii.sqlite')
conn = engine.connect()

In [ ]:
engine=create_engine('sqlite:///./Resources/hawaii.sqlite')

In [ ]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [ ]:
# We can view all of the classes that automap found
Base.classes.keys()

In [ ]:
 # Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [ ]:
from sqlalchemy.orm import Session
session = Session(engine)

In [ ]:
#Creating joined SQL database
# select * SQL
# This JOINs the data in the two tables together into a single dataset (here in the form of a tuple).
# Note: We are going to limit the results to 10 for printing
Hawaii_station = [Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs, Station.station, Station.name]
Hawaii = session.query(*Hawaii_station).filter(Measurement.station == Station.station).limit(10).all()
print(Hawaii)

In [ ]:
#Step 2 - Climate App

In [ ]:
#Now that you have completed your initial analysis, design a Flask API based on the queries that you have just developed.

In [ ]:
#Use Flask to create your routes.
#import Flask
from flask import Flask
from flask import jsonify

In [ ]:
#run as app.py file
#Route
#List all available api routes

@app.route("/")
def welcome():
        return (
        f"/api/v1.0/precipitation<br/>"
        f"/api/v1.0/stations<br/>"
        f"/api/v1.0/tobs<br/>"
        f"/api/v1.0/<start>"
        f"/api/v1.0/<start>/<end>"
    )

In [ ]:
 # Calculate the date 1 year ago from the last data point in the database

In [ ]:
# Total dates
date_count = session.query(func.count(Measurement.date)).all()
print(date_count)

In [ ]:
# Earliest Date
earliest_date = session.query(Measurement.date).order_by(Measurement.date.asc()).first()[0]
print(earliest_date)

In [ ]:
# Latest Date
latest_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()[0]
print(latest_date)

In [ ]:
#Run as app.py file
@app.route("/api/v1.0/precipitation")
def precipitation():

In [ ]:
#find date 12 months before
year_ago = dt.datetime.strptime(latest_date, "%Y-%m-%d") - dt.timedelta(days=366)
print(year_ago)

In [ ]:
#Perform a query to get year to date precipitation data
precipitation_data = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date >= year_ago).all()
#print(precipitation_data)  #output is too large

In [ ]:
#Run as app.py file
#Convert the query results to a dictionary using `date` as the key and `prcp` as the value.
precipitation_dict = []
for date, prcp in precipitation_data:
    data = {}
    data['date'] = date
    data['prcp'] = prcp
    precipitation_dict.append(data)
    #print(precipitation_dict)  #too large
    #Run as app.py file
#Return the JSON representation of your dictionary.
    return jsonify(precipitation_dict)

In [ ]:
#Run as app.py file
@app.route("/api/v1.0/stations")
def stations():

In [ ]:
#Perform a query to get the list of stations
station_data = session.query(Station.name, Station.station, Station.elevation).all()
print(station_data)

In [ ]:
#Perform a query to get the list of stations
joined_data = session.query(Station.name, Measurement.prcp, Measurement.tobs, Station.elevation).all()
print(joined_data)

In [ ]:
#Convert the query results into a list
station_list = []
for data in station_data:
    row = {}
    row['name'] = data[0]
    row['station'] = data[1]
    row['elevation'] = data[2]
    station_list.append(row)
    #print(station_list)   #list is too large
    #Run as app.py file
#Return a JSON list of stations from the dataset.
    return jsonify(station_list)

In [ ]:
#Run as app.py file
@app.route("/api/v1.0/tobs")
def tobs():

In [ ]:
#Query the dates and temperature observations of the most active station for the last year of data.
#Design a query to find the most active stations (i.e. which stations have the most rows?).
active_tobs = session.query(Station.name, Measurement.date , Measurement.tobs).\
filter(Measurement.date > '2016-08-23').\
group_by(Station.name).order_by(func.count(Station.name).desc()).all()
print(active_tobs)

In [ ]:
tobs_dict = []
for name,date,tobs in active_tobs:
    data = {}
    data['name'] = name
    data['date'] = date
    data['tobs'] = tobs
    tobs_dict.append(data)
    #print(tobs_dict)  #too many
    #Return a JSON list of temperature observations (TOBS) for the previous year
    return jsonify(tobs_dict)

In [ ]:
#Run as app.py file
@app.route("/api/v1.0/<start>")
#def start():

In [ ]:
start_date = session.query(Measurement.date, func.min(Measurement.tobs), func.avg(Measurement.tobs),
                               func.max(Measurement.tobs)).filter(Measurement.date == earliest_date).all()
start_date_list = list(start_date)
print(start_date_list)
# Return a JSON list of the minimum temperature, the average temperature, and the max temperature for the earliest date
return jsonify(start_date_list)

In [ ]:
#Run as app.py file
@app.route("/api/v1.0/<start>/<end>")
def end_date():

In [ ]:
end_date = session.query(Measurement.date, func.min(Measurement.tobs), func.avg(Measurement.tobs),
                               func.max(Measurement.tobs)).filter(Measurement.date == latest_date).all()
end_date_list = list(end_date)
print(end_date_list) 
#Run as app.py file
# Return a JSON list of the minimum temperature, the average temperature, and the max temperature for the latest date
return jsonify(end_date_list)

In [ ]:
#When given the start only, calculate `TMIN`, `TAVG`, and `TMAX` for all dates greater than and equal to the start date.
start_query = session.query(Measurement.date, func.min(Measurement.tobs), func.avg(Measurement.tobs),
                               func.max(Measurement.tobs)).filter(Measurement.date >= earliest_date).group_by(
        Measurement.date).all()
#print(start_query)  #huge list

In [ ]:
#When given the start and the end date, calculate the `TMIN`, `TAVG`, and `TMAX` 
#for dates between the start and end date inclusive
full_data_query = session.query(Measurement.date, func.min(Measurement.tobs), func.avg(Measurement.tobs),
                            func.max(Measurement.tobs)).filter(Measurement.date >= earliest_date).filter(
        Measurement.date <= latest_date).group_by(Measurement.date).all()
#print(full_data_query)  #huge list

In [ ]:
#Hints
#You will need to join the station and measurement tables for some of the queries.
#Use Flask `jsonify` to convert your API data into a valid JSON response object.

In [ ]:
#Bonus: Other Recommended Analyses#Bonus: Other Recommended Analyses#

In [ ]:
# Use the provided [temp_analysis_bonus_1_starter.ipynb](temp_analysis_bonus_1_starter.ipynb) and
#[temp_analysis_bonus_2_starter.ipynb](temp_analysis_bonus_2_starter.ipynb) starter notebooks for each bonus challenge.

In [ ]:
#Temperature Analysis I

In [ ]:
#Hawaii is reputed to enjoy mild weather all year. 
#Is there a meaningful difference between the temperature in, for example, June and December?

In [ ]:
print(Measurement)

In [ ]:
# query measurement database to store for the later use
measurements = session.query(Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs).all()
measurements_df = pd.DataFrame(measurements)
measurements_df.columns =['station', 'date', 'prcp', 'tobs']
measurements_df.head()

In [ ]:
print (measurements_df.dtypes)

In [ ]:
#Convert object(string) data into date type
from datetime import datetime, date 
# Datetime conversion using astype:
measurements_df['date'] = measurements_df['date'].astype('datetime64[ns]')
measurements_df.head()

In [ ]:
print (measurements_df.dtypes)

In [ ]:
from sqlalchemy.orm import Session
session = Session(engine)

In [ ]:
#Adding column <month>
#measurements_df['yyyy'] = pd.to_datetime(measurements_df['date']).dt.year
measurements_df['month'] = pd.to_datetime(measurements_df['date']).dt.month
#measurements_df['dd'] = pd.to_datetime(measurements_df['date']).dt.day
measurements_df.head()

In [ ]:
#Selecting data for month of june
measurements_jun = measurements_df[measurements_df['month']==6]
measurements_jun.head()

In [ ]:
# Identify the average temperature in June at all stations across all available years in the dataset. 
measurements_jun = round(measurements_df.groupby(["station"]).mean()["tobs"],2)
tobs_jun_mean = pd.DataFrame(measurements_jun)
tobs_jun_mean = tobs_jun_mean.rename(columns={'tobs': 'avg.temp in June'})
tobs_jun_mean

In [ ]:
#Selecting data for month of december
# Identify the average temperature in June at all stations across all available years in the dataset. 
measurements_dec = measurements_df[measurements_df['month']==12]
measurements_dec.head()

In [ ]:
# Identify the average temperature in December at all stations across all available years in the dataset. 
measurements_dec = round(measurements_df.groupby(["station"]).mean()["tobs"],2)
tobs_dec_mean = pd.DataFrame(measurements_dec)
tobs_dec_mean = tobs_dec_mean.rename(columns={'tobs': 'avg.temp in Dec'})
tobs_dec_mean

In [ ]:
#Combine the data into a single dataset
jun_dec_tobs = pd.merge(tobs_jun_mean, tobs_dec_mean, how="left", on=["station"])
jun_dec_tobs

In [ ]:
#Paired T-Test

    #Paired t-test is used to determine the difference in the June and December average temperature in Honolulu, Hawaii
    #for a time period between 2010 and 2017. The paired t-test is used because the two compared samples of 
    #temperature observations are related to the same location and represent a difference between summer temperature 
    #(after a cold season is over) and winter temperature (after a worm season is over).

    #The null hypothesis in this case is that there is no statistically significant difference in the mean of June 
    #temperature and December temperature in Honolulu, Hawaii.

In [ ]:
from scipy import stats
from scipy import mean

#stats.ttest_rel('tobs_jun_mean'[0:200], 'tobs_dec_mean'[0:200])

In [ ]:
#Use the t-test to determine whether the difference in the means, if any, is statistically significant. 
#Will you use a paired t-test, or an unpaired t-test? Why?

In [ ]:
jun_list = []
for temp in tobs_jun_mean:
    if type(tobs_jun_mean.tobs) == int:
        jun_list.append(tobs_jun_mean.tobs)
        
dec_list = []
for temp in tobs_dec_mean:
    if type(tobs_dec_mean.tobs) == int:
        dec_list.append(tobs_dec_mean.tobs)

In [ ]:
stats.ttest_rel(jun_list[0:200], dec_list[0:200])